.lsp-wrapper {
 margin-top: 80px;
 padding: 0 22%;
}

.lsp-header {
 font-size: 18px;
 font-weight: bold;
 text-align: left;
 margin-left: 18px;
 margin-bottom: 23px;
}

.lsp-search-area {
 width: 100%;
 margin-bottom: 60px;
}

.lsp-search-input-container {
 position: relative;
 width: 100%;
}

.lsp-search-input {
 box-sizing: border-box;
 width: 100%;
 padding: 11px 10px 12px 50px;
 font-size: 14px;
 border: none;
 outline: none;
 border-radius: 7px;
 background-color: #F7F7F7;
}

.lsp-search-icon {
 position: absolute;
 left: 15px;
 top: 50%;
 transform: translateY(-50%);
 width: 20px;
 height: 20px;
}

/* 카테고리 박스 */

.lsp-category-container {
 display: flex;
 flex-wrap: wrap;
 row-gap: 25px;
 column-gap: 50px;
}

.lsp-category-box {
 flex: 0 1 calc((100% - 50px) / 2);
 height: 85px;
 border: 2px solid #36AAFC;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
 border-radius: 8px;
 padding: 20px 20px 20px 25px;
 box-sizing: border-box;
 cursor: pointer;
 display: flex;
 flex-direction: column;
 justify-content: center;
}


.lsp-category-count {
 font-size: 14px;
 color: #36AAFC;
 margin-left: 1px;
}

.lsp-category-name {
 font-size: 18px;
 color: #36AAFC;
 font-weight: bold;
}
