.login-container {
 height: 90vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #F0F9FF;
 padding: 0 20px;
}

.login-box {
 width: 330px;
 background-color: #FFFFFF;
 padding: 50px 30px;
 border-radius: 20px;
 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.login-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 20px;
}

.login-title {
 font-size: 20px;
 font-weight: bold;
}

.login-logo {
 height: 30px;
}

.login-form {
 display: flex;
 flex-direction: column;
}

.login-form label {
 font-size: 11px;
 margin-top: 20px;
 margin-bottom: 6px;
 color: #333333;
}

.login-form input {
 width: 100%;
 padding: 8px;
 font-size: 14px;
 border: 1px solid #ddd;
 border-radius: 8px;
 box-sizing: border-box;
 text-align: left;
}

.login-options {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 20px;
}

.login-options label {
 display: flex;
 align-items: center;
 gap: 6px;
 font-size: 12px;
 color: #909090;
 cursor: pointer;
}

.login-options input {
 padding: 0;
 position: relative;
 appearance: none;
 border: 1px solid #909090;
 border-radius: 100px;
 margin: 2px 0px 0px 0px;
 width: 13px;
 height: 13px;
 cursor: pointer;
} 

.login-options input:checked {
 background: #36AAFC;
 border: none;
}

.login-options input:checked::after {
  content: '✔';
  position: absolute;
  top: -1px;
  left: 3px;
  font-size: 9px;
  color: white;
  line-height: 13px;
}

.login-button {
 width: 100%;
 padding: 12px;
 font-size: 14px;
 font-weight: bold;
 color: #FFFFFF;
 background-color: #199BFF;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 transition: background-color 0.2s ease;
}

.login-button:hover {
 background-color: #0F8DE0;
}

.register-link {
 text-align: center;
 margin-top: 16px;
 font-size: 12px;
 color: #999999;
}

.register-link a {
 color: #199BFF;
 text-decoration: none;
 font-weight: bold;
}
