.join-container {
 height: 90vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #F0F9FF;
 padding-bottom: 90px;
}

.join-box {
 width: 330px;
 background-color: #FFFFFF;
 padding: 50px 30px;
 border-radius: 20px;
 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.join-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 20px;
}

.join-title {
 font-size: 20px;
 font-weight: bold;
}

.join-logo {
 height: 30px;
}

.join-form {
 display: flex;
 flex-direction: column;
}

.join-group {
 display: flex;
 flex-direction: column;
 margin-bottom: 15px;
}

.join-form label {
 font-size: 11px;
 margin-bottom: 6px;
 color: #333333;
}

.join-form input {
 width: 100%;
 padding: 8px;
 font-size: 14px;
 border: 1px solid #ddd;
 border-radius: 8px;
 box-sizing: border-box;
 text-align: left;
}

.input-error {
 border-color: #FF4D4F !important;
}

.error-message {
 color: #FF4D4F;
 font-size: 12px;
 margin-top: 5px;
}

.join-button {
 width: 100%;
 padding: 12px;
 font-size: 14px;
 font-weight: bold;
 color: #FFFFFF;
 background-color: #199BFF;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 transition: background-color 0.2s ease;
}

.join-button:hover {
 background-color: #0F8DE0;
}

.login-link {
 text-align: center;
 margin-top: 16px;
 font-size: 12px;
 color: #999999;
}

.login-link-button {
 color: #199BFF;
 text-decoration: none;
 font-weight: bold;
}