body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*{
  font-family: 'Paperlogy-5Medium', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  background-color: #ffffff;
  flex: 1;
  overflow-y: auto;
}

img {
  height: 100%;
}